# Datová analýza exoplanetárního datasetu</h1>
## Semestrální práce z předmětu 4ST101
### *Autor: Jakub Vítovec*

## 1. Charakteristika zpracovávaných dat.
Ve své semestrální práci se budu zabývat daty získanými z veřejné databáze [Keggle](https://www.kaggle.com/). Konkrétní dataset je dostupný na URL [https://www.kaggle.com/datasets/sathyanarayanrao89/nasa-exoplanetary-system](https://www.kaggle.com/datasets/sathyanarayanrao89/nasa-exoplanetary-system) a byl vytvořen uživatelem Sathyanarayan Rao z dat publikovaných vesmírnou agenturou NASA. Celkem se v datasetu nachází 32552 různých dosud objevených exoplanet a základní data o nich.
Exoplaneta je planeta, která obíhá okolo jiné hvězdy, než okolo Slunce. První exoplaneta byla objevena v roce 1998 a počet jejich počet stále roste.

### Čištění dat
V tomto oddíle vyčistíme data od nežádoucích hodnot.

In [7]:
import numpy as np;
import pandas as pd;

dataset = pd.read_csv("./exoplanets_dataset.csv");
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32552 entries, 0 to 32551
Data columns (total 93 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Unnamed: 0                               32552 non-null  int64
 1   Planet Name                              32552 non-null  object
 2   Host Name                                32552 non-null  object
 3   Number of Stars                          32552 non-null  int64
 4   Number of Planets                        32552 non-null  int64
 5   Discovery Method                         32552 non-null  object
 6   Discovery Year                           32552 non-null  int64
 7   Discovery Facility                       32552 non-null  object
 8   Orbital Period [days]                    29747 non-null  float64
 9    Planet Radius [Earth Radius]            22711 non-null  float64
 10  Planet Mass or Mass*sin(i) [Earth Mass]  4699 non-null   float64
 11   Eccentricity                            16650 non-null  float64
 12  Unnamed: 12                              0 non-null      float64
 13  Unnamed: 13                              0 non-null      float64
 14  Unnamed: 14                              0 non-null      float64
 15  Unnamed: 15                              0 non-null      float64
 16  Unnamed: 16                              0 non-null      float64
 17  Unnamed: 17                              0 non-null      float64
 18  Unnamed: 18                              0 non-null      float64
 19  Unnamed: 19                              0 non-null      float64
 20  Unnamed: 20                              0 non-null      float64
 21  Unnamed: 21                              0 non-null      float64
 22  Unnamed: 22                              0 non-null      float64
 23  Unnamed: 23                              0 non-null      float64
 24  Unnamed: 24                              0 non-null      float64
 25  Unnamed: 25                              0 non-null      float64
 26  Unnamed: 26                              0 non-null      float64
 27  Unnamed: 27                              0 non-null      float64
 28  Unnamed: 28                              0 non-null      float64
 29  Unnamed: 29                              0 non-null      float64
 30  Unnamed: 30                              0 non-null      float64
 31  Unnamed: 31                              0 non-null      float64
 32  Unnamed: 32                              0 non-null      float64
 33  Unnamed: 33                              0 non-null      float64
 34  Unnamed: 34                              0 non-null      float64
 35  Unnamed: 35                              0 non-null      float64
 36  Unnamed: 36                              0 non-null      float64
 37  Unnamed: 37                              0 non-null      float64
 38  Unnamed: 38                              0 non-null      float64
 39  Unnamed: 39                              0 non-null      float64
 40  Unnamed: 40                              0 non-null      float64
 41  Unnamed: 41                              0 non-null      float64
 42  Unnamed: 42                              0 non-null      float64
 43  Unnamed: 43                              0 non-null      float64
 44  Unnamed: 44                              0 non-null      float64
 45  Unnamed: 45                              0 non-null      float64
 46  Unnamed: 46                              0 non-null      float64
 47  Unnamed: 47                              0 non-null      float64
 48  Unnamed: 48                              0 non-null      float64
 49  Unnamed: 49                              0 non-null      float64
 50  Unnamed: 50                              0 non-null      float64
 51  Unnamed: 51                              0 non-null      float64
 52  Unnamed: 52                              0 non-null      float64
 53  Unnamed: 53                              0 non-null      float64
 54  Unnamed: 54                              0 non-null      float64
 55  Unnamed: 55                              0 non-null      float64
 56  Unnamed: 56                              0 non-null      float64
 57  Unnamed: 57                              0 non-null      float64
 58  Unnamed: 58                              0 non-null      float64
 59  Unnamed: 59                              0 non-null      float64
 60  Unnamed: 60                              0 non-null      float64
 61  Unnamed: 61                              0 non-null      float64
 62  Unnamed: 62                              0 non-null      float64
 63  Unnamed: 63                              0 non-null      float64
 64  Unnamed: 64                              0 non-null      float64
 65  Unnamed: 65                              0 non-null      float64
 66  Unnamed: 66                              0 non-null      float64
 67  Unnamed: 67                              0 non-null      float64
 68  Unnamed: 68                              0 non-null      float64
 69  Unnamed: 69                              0 non-null      float64
 70  Unnamed: 70                              0 non-null      float64
 71  Unnamed: 71                              0 non-null      float64
 72  Unnamed: 72                              0 non-null      float64
 73  Unnamed: 73                              0 non-null      float64
 74  Unnamed: 74                              0 non-null      float64
 75  Unnamed: 75                              0 non-null      float64
 76  Unnamed: 76                              0 non-null      float64
 77  Unnamed: 77                              0 non-null      float64
 78  Unnamed: 78                              0 non-null      float64
 79  Unnamed: 79                              0 non-null      float64
 80  Unnamed: 80                              0 non-null      float64
 81  Unnamed: 81                              0 non-null      float64
 82  Unnamed: 82                              0 non-null      float64
 83  Unnamed: 83                              0 non-null      float64
 84  Unnamed: 84                              0 non-null      float64
 85  Unnamed: 85                              0 non-null      float64
 86  Unnamed: 86                              0 non-null      float64
 87  Unnamed: 87                              0 non-null      float64
 88  Unnamed: 88                              0 non-null      float64
 89  Unnamed: 89                              0 non-null      float64
 90  Unnamed: 90                              0 non-null      float64
 91  Unnamed: 91                              0 non-null      float64
 92  Unnamed: 92                              0 non-null      float64
dtypes: float64(85), int64(4), object(4)
memory usage: 23.1+ MB

Jak vidíme dataset obsahuje značné množství nepojmenovaných sloupců - Unnamed. Ty z datasetu odstraníme jako první.

In [16]:
for column_name in dataset.columns:
    if ("Unnamed" in column_name):
        del dataset[column_name]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32552 entries, 0 to 32551
Data columns (total 11 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Planet Name                              32552 non-null  object
 1   Host Name                                32552 non-null  object
 2   Number of Stars                          32552 non-null  int64
 3   Number of Planets                        32552 non-null  int64
 4   Discovery Method                         32552 non-null  object
 5   Discovery Year                           32552 non-null  int64
 6   Discovery Facility                       32552 non-null  object
 7   Orbital Period [days]                    29747 non-null  float64
 8    Planet Radius [Earth Radius]            22711 non-null  float64
 9   Planet Mass or Mass*sin(i) [Earth Mass]  4699 non-null   float64
 10   Eccentricity                            16650 non-null  float64
dtypes: float64(4), int64(3), object(4)
memory usage: 2.7+ MB